/* Stéphane CSS */

/* ==== html & body==== */
html {
	font-family: 'Odibee Sans',
		cursive;
	color: #8c7ae6;
}


body {
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
	align-content: center;
	height: 100vh;
}

main {
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: center;
}

/* Dans le main */

div.title {
	font-size: 4em;
	border: 3px solid #8c7ae6;
	border-radius: 25px;
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin: 1em 0.5em 0.5em 0.5em;
	max-width: max-content;
	text-align: center;
}

.counter {
	font-size: 5em;
}

/*===== Dans le footer =====*/

#footer {
	/* position: fixed; */
	bottom: 0;
	width: 100%;
	padding: 3em 1em 3em 1em;
	text-align: center;
}